In [6]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_pickle('Extracted_Information.dat')
gdp_historical = pd.read_csv('gdpWB.csv')

In [30]:
data.head()

,filename,Date,Project_name,Currency,Amount_loan,Amount_in_usd,Project_desc,Country_code,Address,Country3code,Country_name,Income_level,Region
0,1990_april_24_587321468019152780_conformed-cop...,1990-04-24 00:00:00,forestry sector project,$,80000000,80000000,Description of the Project The objectives of t...,IVC,"\n\nministry of economy, finance and budget\np...",CIV,Cote d'Ivoire,Lower middle income,Sub-Saharan Africa (excluding high income)
1,1990_april_24_668811468165272290_conformed-cop...,1990-04-24 00:00:00,water supply project,$,2500000,2500000,,SLU,"\n\n ministry of planning, personnel,\n est...",LCA,St. Lucia,Upper middle income,Latin America & Caribbean (excluding high income)
2,1990_april_25_904191468298750561_conformed-cop...,1990-04-25 00:00:00,environment management project,$,18000000,18000000,Description of the Project The objectives of t...,POL,"\n\n ministry of environmental protection,\n ...",POL,Poland,High income,NaN
3,1990_april_30_410811468040573756_conformed-cop...,1990-04-30 00:00:00,rural electrification project,$,329000000,329000000,Description of the Project The objective of th...,IND,\n\n ministry of finance\n c/o directorate...,IDN,Indonesia,Upper middle income,East Asia & Pacific (excluding high income)
4,1990_april_30_725911468042268845_conformed-cop...,1990-04-30 00:00:00,third telecommunications project,$,350000000,350000000,Description of the Project The objectives of t...,IND,\n\n ministry of finance\n c/o director ge...,IDN,Indonesia,Upper middle income,East Asia & Pacific (excluding high income)

In [26]:
data.Country3code[3]

'IDN'

In [17]:
gdp.columns[]

Index(['Data Source', 'World Development Indicators', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20',
       'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32',
       'Unnamed: 33', 'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36',
       'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
       'Unnamed: 41', 'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48',
       'Unnamed: 49', 'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52',
       'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56',
       'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60',
       'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64',
       'Unnamed: 65'],
      dtype='object')

In [28]:
gdp.index

AttributeError: 'int' object has no attribute 'index'

In [32]:
gdp_value = []
for i in data.index:
    country = data.Country3code[i]
    time = data.Date[i].year
    gdp = 0
    for j in gdp_historical.index:
        if gdp_historical.iloc[j,1] == country:
            for col in gdp_historical.columns:
                if gdp_historical[col].iloc[3] == time:
                    gdp = gdp_historical[col].iloc[j]
                    break
    gdp_value.append(gdp)

In [38]:
a = 0
for i in range(len(gdp_value)):
    if gdp_value[i] == 0:
        a = a+1
        gdp_value[i] = None

In [34]:
len(gdp_value)

3205

In [35]:
data["GDP_historic"] = pd.Series(gdp_value)

In [37]:
data.to_csv('gdp_data_WB.csv')

In [39]:
a

0

In [40]:
a = 0
for i in range(len(gdp_value)):
    if gdp_value[i] == None:
        a = a+1

In [41]:
a

532

In [42]:
data.head()

,filename,Date,Project_name,Currency,Amount_loan,Amount_in_usd,Project_desc,Country_code,Address,Country3code,Country_name,Income_level,Region,GDP_historic
0,1990_april_24_587321468019152780_conformed-cop...,1990-04-24 00:00:00,forestry sector project,$,80000000,80000000,Description of the Project The objectives of t...,IVC,"\n\nministry of economy, finance and budget\np...",CIV,Cote d'Ivoire,Lower middle income,Sub-Saharan Africa (excluding high income),1.079585e+10
1,1990_april_24_668811468165272290_conformed-cop...,1990-04-24 00:00:00,water supply project,$,2500000,2500000,,SLU,"\n\n ministry of planning, personnel,\n est...",LCA,St. Lucia,Upper middle income,Latin America & Caribbean (excluding high income),5.796296e+08
2,1990_april_25_904191468298750561_conformed-cop...,1990-04-25 00:00:00,environment management project,$,18000000,18000000,Description of the Project The objectives of t...,POL,"\n\n ministry of environmental protection,\n ...",POL,Poland,High income,NaN,6.597775e+10
3,1990_april_30_410811468040573756_conformed-cop...,1990-04-30 00:00:00,rural electrification project,$,329000000,329000000,Description of the Project The objective of th...,IND,\n\n ministry of finance\n c/o directorate...,IDN,Indonesia,Upper middle income,East Asia & Pacific (excluding high income),1.061407e+11
4,1990_april_30_725911468042268845_conformed-cop...,1990-04-30 00:00:00,third telecommunications project,$,350000000,350000000,Description of the Project The objectives of t...,IND,\n\n ministry of finance\n c/o director ge...,IDN,Indonesia,Upper middle income,East Asia & Pacific (excluding high income),1.061407e+11

In [45]:
data.to_pickle('Extracted_Information.dat')