In [ ]:
import os
import fitz
import pandas as pd
from pathlib import Path

In [ ]:
#To iterate over all files in the data set
#call the folder containing world bank loan agreements

directory  = "dataWBloans"

In [ ]:
#create a list of the file names in the directory
#.pdf files only

file_name=[]

for filename in os.listdir(directory):
    if filename.endswith(".pdf"):
        file_name.append(filename)
        continue
    else:
        continue

In [ ]:
#each element of the list is a string.
#for example, file_name[0] ='1995_march_ ...conformed.pdf' and, 
#type(file_name[0]) = str

In [ ]:
#create a list of the date of the agreements
#extract the dates from the first part of the file names.

date = []
for i in range(len(file_name)):
    index = []
    for j in range(len(file_name[i])):
        if file_name[i][j] == '_':
            index.append(j)
    date.append(file_name[i][:index[2]].replace("_",""))

#date = ['1995march23','1995july7','1997december19',...]

In [ ]:
#replace 'month' by the corresponding number

for i in range(len(date)):
        date[i] = date[i].replace("january","-1-")
        date[i] = date[i].replace("february","-2-")
        date[i] = date[i].replace("march","-3-")
        date[i] = date[i].replace("april","-4-")
        date[i] = date[i].replace("may","-5-")
        date[i] = date[i].replace("june","-6-")
        date[i] = date[i].replace("july","-7-")
        date[i] = date[i].replace("august","-8-")
        date[i] = date[i].replace("september","-9-")
        date[i] = date[i].replace("october","-10-")
        date[i] = date[i].replace("november","-11-")
        date[i] = date[i].replace("december","-12-")
        
#date = ['1995-3-23','1995-7-7','1997-12-19',...]

In [ ]:
#I don't understand how this code works... 
#this line right below is to iterate over the data set

files = Path(directory).glob('*')

#create a list of the text of cover pages of the documents
cover = []
for file in files:
    text = ""
    doc = fitz.open(file)
    page_0 = doc.load_page(0)
    text += page_0.getText()
    cover.append(text)

In [ ]:
LOAN_NUMBER = []
for text in cover:
    start = text.find('NUMBER')
    LOAN_NUMBER.append(text[start+7:start+15].replace("\n",""))

In [ ]:
project = []

#extract a string inside of the fist parenthesis
for text in cover:
    openup = 0
    closedown = 2
    for i in range(len(text)): 
        if text[i] == '(':
            openup = i
            break
    for j in range(len(text)):
        if text[j] == ')':
            closedown = j
            break
    project.append(text[openup+1: closedown])

In [ ]:
loan_number = []
borrower = []
#look for a substring 'LOAN' and 'NUMBER' and
#extract the code next to 'LOAN NUMBER'

for text in cover:
    wordlist = text.split()
    dummy_loan = 0
    for word in wordlist:
        index = wordlist.index(word)
        if 'LOAN' in wordlist and wordlist.index(word) ==  wordlist.index('LOAN') + 1:
            loan_number.append(wordlist[index+1] + wordlist[index+2])
            dummy_loan += 1
            break
    if dummy_loan == 0:
        loan_number.append('N/A')
        
    dummy_borrower = 0
    for word in wordlist:
        index = wordlist.index(word)
        if 'and' in wordlist and 'between' in wordlist and wordlist.index(word) ==  wordlist.index('between') + 1:
            index_and = wordlist.index('and')
            borrower_name = ''
            for country in range(index,index_and):
                    borrower_name += wordlist[country]+' '
            borrower.append(borrower_name)
            dummy_borrower += 1    
            break
    if dummy_borrower == 0:
        borrower.append('N/A')

In [ ]:
country_code = []
for code in LOAN_NUMBER:
    if ' ' in code:
        start = code.find(' ')
        country_code.append(code[start+1:])
    elif '-' in code:
        start2 = code.find('-')
        country_code.append(code[start2+1:])
    else:
        country_code.append(code)

In [ ]:
dictionary = {'loan_number':loan_number,'coundtry_code':country_code, 'loan_number_2':LOAN_NUMBER, 'borrower':borrower, 'date': date, 'project':project}
df = pd.DataFrame(data = dictionary)
df

In [ ]:
df.to_csv('0512_lbdp_3.csv')

In [3]:
import pandas as pd

In [52]:
A = pd.read_pickle('pytesseract_results.dat')

In [53]:
date_2 = []
for i in range(len(A.iloc[:,0])):
    index = []
    for j in range(len(A.iloc[i,0])):
        if A.iloc[i,0][j] == '_':
            index.append(j)
    date_2.append(A.iloc[i,0][:index[2]].replace("_",""))

In [54]:
for i in range(len(date_2)):
        date_2[i] = date_2[i].replace("january","-1-")
        date_2[i] = date_2[i].replace("february","-2-")
        date_2[i] = date_2[i].replace("march","-3-")
        date_2[i] = date_2[i].replace("april","-4-")
        date_2[i] = date_2[i].replace("may","-5-")
        date_2[i] = date_2[i].replace("june","-6-")
        date_2[i] = date_2[i].replace("july","-7-")
        date_2[i] = date_2[i].replace("august","-8-")
        date_2[i] = date_2[i].replace("september","-9-")
        date_2[i] = date_2[i].replace("october","-10-")
        date_2[i] = date_2[i].replace("november","-11-")
        date_2[i] = date_2[i].replace("december","-12-")

In [55]:
A.head()

,filename,reparse
24,1990_december_4_833971468016863921_china--rura...,Public Disclosure Authorizea\n\nLOAN NUMBER 32...
64,1990_june_12_146771468325288731_pakistan--agri...,Public Disclosure Authorized\n\nPublic Disclos...
84,1990_march_27_681121468040453518_india--hydera...,Public Disclosure Authorized\n\n‘.nnmx:.-‘mmmm...
89,1990_may_15_598881468034838695_india--integrat...,P ] )\n\nORI\n\n_—\n\n- Ay 2T e\n- pat v R AT\...
90,1990_may_15_955111468244536485_india--integrat...,P ] )\n\nORI\n\n_—\n\n- Ay 2T e\n- pat v R AT\...

In [57]:
project_2 = []
LOAN_NUMBER_2 = []

for text in A["reparse"]:
    openup = 0
    closedown = 2
    for i in range(len(text)): 
        if text[i] == '(':
            openup = i
            break
    for j in range(len(text)):
        if text[j] == ')':
            closedown = j
            break
    project_2.append(text[openup+1: closedown])
    
    start = text.find('NUMBER')
    LOAN_NUMBER_2.append(text[start+7:start+15].replace("\n",""))

In [58]:
country_code_2 = []

for code in LOAN_NUMBER_2:
    if ' ' in code:
        start = code.find(' ')
        country_code_2.append(code[start+1:])
    elif '-' in code:
        start2 = code.find('-')
        country_code_2.append(code[start2+1:])
    else:
        country_code_2.append(code)

In [59]:
dictionary = {'coundtry_code':country_code_2, 'loan_number':LOAN_NUMBER_2,'date': date_2, 'project':project_2}
df_2 = pd.DataFrame(data = dictionary)
df_2

,coundtry_code,loan_number,date,project
0,CHA,3274-CHA,1990-12-4,Rural Industrial Technology (Spark
1,PAK,3226 PAK,1990-6-12,Agricultural Credit Project
2,IN,3181 IN,1990-3-27,Hyderabad Water Supply and Sanitation Praoject
3,IN,3197 IN,1990-5-15,
4,IN,3197 IN,1990-5-15,
...,...,...,...,...
395,EG,8997-EG,2019-9-11,Additional Financing for Strengthening Social ...
396,CO,8798-CO,2019-9-13,Enhancing Waterway Connectivity and Water Serv...
397,RO,9005-RO,2019-9-23,Romania Health Program for Results
398,SR,8985-SR,2019-9-25,Competitiveness and Sector Diversification Pro...
399,BR,8966- BR,2019-9-6,Mato Grosso Fiscal Adjustment and Environmenta...

KeyError: 'Requested level (\n) does not match index name (None)'

In [60]:
df_2.to_csv('pytesseract.csv')

In [61]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   coundtry_code  400 non-null    object
 1   loan_number    400 non-null    object
 2   date           400 non-null    object
 3   project        400 non-null    object
dtypes: object(4)
memory usage: 12.6+ KB