In [72]:
import pandas as pd
import numpy as np
import re
import os
import random

In [73]:
Extracted_DF=pd.read_pickle('../Extracted_Information.dat')

In [74]:
#Fill NONEs with empty strings
Extracted_DF['Project_name'][Extracted_DF.Project_name.isnull()]=''
Extracted_DF['Project_Sector']='other'

In [75]:
#Extract education:
for i in Extracted_DF.index:
    name=Extracted_DF.Project_name[i]
    if ('educa' in name) or ('teach' in name) or('school' in name):
        Extracted_DF['Project_Sector'][i]='Education'

In [76]:
Extracted_DF.Project_Sector.value_counts()

other        3035
Education     170
Name: Project_Sector, dtype: int64

In [77]:
Extracted_DF.Currency.value_counts()

$      2526
eur     180
usd     121
e        49
€        33
dem      26
frf      14
c         8
¥         5
jpy       5
uss       3
s         2
sdr       2
y         1
egp       1
gbp       1
£         1
us        1
Name: Currency, dtype: int64

In [78]:
from pdf2image import convert_from_path

def winapi_path(dos_path, encoding=None):
    if (not isinstance(dos_path, str) and encoding is not None): 
        dos_path = dos_path.decode(encoding)
    path = os.path.abspath(dos_path)
    if path.startswith(u"\\\\"):
        return u"\\\\?\\UNC\\" + path[2:]
    return u"\\\\?\\" + path

ROOT_DIR = '../../'
def get_pdf_pages(file,ROOT_DIR):
    path=os.path.abspath(ROOT_DIR+file)
    path=winapi_path(path)
    images=convert_from_path(path)
    return images

In [79]:
pd.to_pickle(Extracted_DF,'../Extracted_Information_Sectors_Education_Other.dat')

In [101]:
Extracted_DF.Country_code.value_counts(dropna=False).to_frame()[60:90]

     Country_code
BUL            12
ES             11
PAN            11
UNI            10
CR             10
ZIM             9
MU              9
UY              9
SLU             9
SK              8
BA              8
IQ              8
SC              8
AO              8
PL              7
IVC             7
VE              6
PY              6
GT              6
CY              5
CM              5
SLO             5
LK              5
BO              5
GD              4
CL              4
GRD             4
CG              4
TH              4
FJ              4